.textArea{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: flex-start;
   padding: 12px;
   gap: 12px;
   height: 84px;
   background: #FFFFFF;
   border: 1px solid rgba(0, 0, 0, 0.16);
   border-radius: 4px;
   flex: none;
   order: 1;
   align-self: stretch;
   flex-grow: 0;
   z-index: 1;
}